<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Opening and Closing Times</h1>


<!-- Design on bootstrap grid -->
<form role="form">

<div class="row">
    <div class="col-md-2">
        <p><b>Brevet Distance in km: (200, 300, 400, 600, or 1000)</b></p>
    </div>
    <div class="col-md-1">
       <input type="text" class="form-control"
        name="BrevDist"/>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <p><b>Input distances are in (miles or km):</b></p>
    </div>
    <div class="col-md-1">
        <input type="text" class="form-control"
        name="InputUnit"/>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <p><b>Brevet Start Date and Start Time (Time is in 24 Hour Format, YYYY/MM/DD HH:MM):</b></p>
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control"
        name="BrevetStartDateTime"/>
    </div> 
</div>

<div class="row">
    <div class="col-md-6">
        <p id="message" class="message"></p>
    </div>
</div>



<div class="row">
    <div class="col-md-1">
        <p><b>Checkpoint#</b></p>
    </div>
    <div class="col-md-2">
        <p><b>Distance</b></p>
    </div>
    <div class="col-md-3">
        <p><b>Location</b></p>
    </div>
    <div class="col-md-2">
        <p><b>Open Date & Time</b></p>
    </div>
     <div class="col-md-2">
        <p><b>Close Date & Time</b></p>
    </div>
</div>

{% for x in range(1,11) %}
    {%if x == 1%}
        <div class="row">
            <div class="col-md-1">
                <p>{{x}}</p>
            </div>
            <div class="col-md-2">
                <p>0 (start)</p>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"
                name="location" value="location (optional)" />
            </div>
            <div id="Check1Start" class="col-md-2">
                <span class="times form-control">(Open Data & Time)</span>
            </div>
            <div id="Check1Close" class="col-md-2">
                <span class="times form-control">(Close Data & Time)</span>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-1">
                <p>{{x}}</p>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control"
                name="controle_dist" value="Distance"/>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control"
                name="location" value="location (optional)" />
            </div>
            <div id="open" class="col-md-2">
                <span class="times form-control">(Open Data & Time)</span>
            </div>
            <div id="close" class="col-md-2">
                <span class="times form-control">(Close Data & Time)</span>
            </div>
        </div>
    {% endif %}
{% endfor %}
</form>


<script type="text/javascript">
    BrevDistance = 0; 

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // COLLECT BREV DIST: here and in server
      $('input[name="BrevDist"]').change(
          // ... execute this function
          function(){
              BrevDistance = parseInt($(this).val()); //save it here
              // AJAX request: save it in server
              $.getJSON($SCRIPT_ROOT + '/save_brevdistance',
                  // The object to pass to the server
                  { brev_dist: BrevDistance },
                  // The function to call with the response
                  function(data) {
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
          
      // COLLECT START DATE AND TIME: just in server
      $('input[name="BrevetStartDateTime"]').change(
          // ... execute this function
          function(){
              startDateTime = $(this).val();
              $.getJSON($SCRIPT_ROOT + '/save_StartDateTime',
                  { start_datetime: startDateTime  },
                  function(data) {
                  }); // End of the call to getJSON
                  
             $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  { controle_dist: 0 },
                  function(data) {
                     var open_time = data.result.open_time;
                     var close_time = data.result.close_time;
                     $('#Check1Start').text(open_time);
                     $('#Check1Close').text(close_time);  
                  }); // End of the call to getJSON
            
          });  // End of the function to be called when field changes

          
          
    // COLLECT INPUT UNIT: just in server
      $('input[name="InputUnit"]').change(
          // ... execute this function
          function(){
              InputUnit = $(this).val(); 
              $.getJSON($SCRIPT_ROOT + '/save_InputUnit',
                  // The object to pass to the server
                  { input_unit: InputUnit  },
                  // The function to call with the response
                  function(data) {
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes

    
    
      // When a field named 'miles' is changed ...
      $('input[name="controle_dist"]').change(
          // ... execute this function
          function(){ 
              var distance = $(this).val();
              if(distance < BrevDistance)
                $('#message').text("You have not reached the brevet distance yet. Continue typing in distances.")
              else if(distance >= ((0.1 * BrevDistance) + BrevDistance))
                $('#message').text("You have exceeded the brevet distance by 10% or more.")
              else
                $('#message').text("")
                
              var open_target = $(this).parents(".row").find("#open");
              var close_target = $(this).parents(".row").find("#close");
              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { controle_dist: distance },
                  // The function to call with the response
                  function(data) {
                     var open_time = data.result.open_time;
                     var close_time = data.result.close_time;
                     open_target.text(open_time);
                     close_target.text(close_time);    
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
